body
{
    background-color: rgb(241, 241, 241);
    font-size: 16px;
}

.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 520px;
}

h1
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    margin-bottom: 5rem;
    left: 50%;
}

.netatmo-carousel
{
    position: relative;
    background-color: white;
}

/**
 * Slides
 */
.netatmo-carousel .slides,
.netatmo-carousel .slide,
.netatmo-carousel .slide-content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.netatmo-carousel .text-container
{
    position: absolute;
    top: 50%;
}

.netatmo-carousel .slide,
.netatmo-carousel .slide-content
{
    transition: transform 0.6s cubic-bezier(0.75, 0, 0.25, 1);
    will-change: transform;
}

.netatmo-carousel .slide.is-before
{
    transform: translateX(-100%);
}

.netatmo-carousel .slide.is-before .slide-content
{
    transform: translateX(50%);
}

.netatmo-carousel .slide.is-after
{
    transform: translateX(100%);
}

.netatmo-carousel .slide.is-after .slide-content
{
    transform: translateX(-50%);
}

/** 
 * Siblings
 */
.netatmo-carousel .sibling
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.2); 
    border: none; 
    outline: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
}

.netatmo-carousel:hover .sibling
{
    opacity: 1;
}

.netatmo-carousel .sibling.previous
{
    left: 0;
}

.netatmo-carousel .sibling.next
{
    right: 0;
}

.netatmo-carousel .sibling::after
{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.netatmo-carousel .sibling.previous::after
{
    transform: translateX(6px) rotate(-135deg);
}

.netatmo-carousel .sibling.next::after
{
    transform: translateX(-6px) rotate(45deg);
}

/** 
 * Pagination
 */
.netatmo-carousel .pagination
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, #00000088, #00000000);
}

.netatmo-carousel .pagination .page
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

.netatmo-carousel .pagination .page::after
{
    content: '';
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid #ffffff;
    border-radius: 100%;
}

.netatmo-carousel .pagination .page.is-active::after,
.netatmo-carousel .pagination .page:hover::after
{
    background-color: #ffffff;
}

.netatmo-carousel .text-container
{
    background-color: rgba(255, 255, 255, 0.7);
}

/**
 * Slides Textual Content
 */
.netatmo-carousel .alternate-position
{
    left: auto;
    right: 0;
}

.netatmo-carousel h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.netatmo-carousel p
{
    color: #292929;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.netatmo-carousel h2,
.netatmo-carousel p
{
    transition: all 0.5s ease-in-out 0.3s;
    opacity: 1;
    will-change: transform, opacity;
}

.netatmo-carousel .slide:not(.is-current) h2,
.netatmo-carousel .slide:not(.is-current) p
{
    transform: translateY(1rem);
    opacity: 0;
}

.netatmo-carousel img
{
    width: 100%;
    object-fit: cover;
}


/**
 *  media queries / Responsive
 */

@media screen and (max-width: 640px)
{
    .netatmo-carousel
    {
        margin: 0;
        width: 100%;
        height: 600px;
    }

    .netatmo-carousel .sibling
    {
        height: 50%;
    }

    .netatmo-carousel .pagination
    {
        bottom: 50%;
    }   

    .netatmo-carousel img
    {
        height: 50%;
    }

    .netatmo-carousel .text-container
    {
        width: 100%;
        height: auto;
        padding: 2rem;
    }   
}

@media screen and (min-width: 640px)
{
    .netatmo-carousel
    {
        width: 640px;
        height: 400px;
    }

    .netatmo-carousel .sibling
    {
        height: 100%;
    }

    .netatmo-carousel .pagination
    {
        bottom: 0;
    }
    
    .netatmo-carousel img
    {
        height: 100%;
    }

    .netatmo-carousel .text-container
    {
        padding: 2rem;
        margin: 0 2rem;
        height: auto;
        border-radius: 4px;
        width: calc(50% - 2rem);
        transform: translateY(-50%);
    }
}